In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
# 1-1
data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
# 1-2
le = LabelEncoder()
data['sex'] = le.fit_transform(data['sex'])
data['smoker'] = le.fit_transform(data['smoker'])
data['region'] = le.fit_transform(data['region'])
data['bmi'] = data['bmi'].astype('int')
data['charges'] = data['charges'].astype('int')
data.head()

   age  sex  bmi  children  smoker  region  charges
0   19    0   27         0       1       3    16884
1   18    1   33         1       0       2     1725
2   28    1   33         3       0       2     4449
3   33    1   22         0       0       1    21984
4   32    1   28         0       0       1     3866

In [5]:
# 1-3
X = data.drop(['charges'],axis=1)
X.info()
# X為訓練集

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   int32
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
dtypes: int32(4), int64(2)
memory usage: 41.9 KB

In [6]:
y = data['charges']
# y為測試集

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 12)

In [8]:
# 1-4
from sklearn.linear_model import LinearRegression
lr_regressor = LinearRegression() # 建立 linear regression model
lr_regressor.fit(X_train, y_train) # 訓練model

LinearRegression()

In [9]:
from sklearn.metrics import accuracy_score
y_pred = lr_regressor.predict(X_test) #使用X_test預測

In [10]:
# 1-5 Linear Regression的 R2、RMSE、MAE
from sklearn import metrics

RMSE_lr = metrics.mean_squared_error(y_test,y_pred,squared=False)
MAE_lr = metrics.mean_absolute_error(y_test, y_pred)
R2_lr = metrics.r2_score(y_test, y_pred)
print("RMSE = ",RMSE_lr)
print("MAE = ",MAE_lr)
print("R2 = ",R2_lr)

RMSE =  6352.566130502396
MAE =  4240.2714817157175
R2 =  0.6971789057777514

In [11]:
from sklearn import svm
in_svr = svm.SVR(kernel='linear')# 建立 SVM(SVR) model
in_svr.fit(X_train, y_train) #訓練 in_svr

SVR(kernel='linear')

In [12]:
y_pred = in_svr.predict(X_test) #使用X_test預測

In [13]:
# SVM(SVR)的 R2、RMSE、MAE
RMSE_svr = metrics.mean_squared_error(y_test,y_pred,squared=False)
MAE_svr = metrics.mean_absolute_error(y_test, y_pred)
R2_svr = metrics.r2_score(y_test, y_pred)
print("RMSE = ",RMSE_svr)
print("MAE = ",MAE_svr)
print("R2 = ",R2_svr)

RMSE =  12087.608346751556
MAE =  5902.911116872388
R2 =  -0.09639865637870004

In [14]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()#  DecisionTree model
dt.fit(X_train, y_train)# 訓練 dt

DecisionTreeClassifier()

In [15]:
y_pred = dt.predict(X_test)#使用X_test預測

In [16]:
# Decision tree 的 R2、RMSE、MAE
RMSE_dt = metrics.mean_squared_error(y_test,y_pred,squared=False)
MAE_dt = metrics.mean_absolute_error(y_test, y_pred)
R2_dt = metrics.r2_score(y_test, y_pred)
print("RMSE = ",RMSE_dt)
print("MAE = ",MAE_dt)
print("R2 = ",R2_dt)

RMSE =  9775.78948434798
MAE =  5459.524875621891
R2 =  0.2828806910716577

In [17]:
#第二部分 2-1
data_cus = pd.read_csv('customer_churn.csv')
data_cus.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,54023,1,1.0,Computer,1,31.0,Debit Card,Male,4.0,5,Mobile Phone,1,Single,3,1,25.0,2.0,2.0,1.0,149
1,50266,0,16.0,Mobile Phone,1,18.0,Debit Card,Male,2.0,4,Grocery,4,Married,2,0,11.0,0.0,NaN,9.0,243
2,54985,0,16.0,Mobile Phone,1,36.0,Credit Card,Male,3.0,6,Laptop & Accessory,1,Single,6,0,20.0,2.0,2.0,1.0,168
3,52029,1,0.0,Phone,3,NaN,E wallet,Male,2.0,4,Mobile,4,Married,2,1,18.0,0.0,1.0,0.0,124
4,50084,0,13.0,Computer,1,15.0,Debit Card,Male,3.0,4,Laptop & Accessory,2,Divorced,10,0,14.0,1.0,1.0,2.0,149

In [18]:
# 2-2
data_cus.info()
# 共3083筆，20個屬性

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3083 entries, 0 to 3082
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   3083 non-null   int64
 1   Churn                        3083 non-null   int64
 2   Tenure                       2930 non-null   float64
 3   PreferredLoginDevice         3083 non-null   object
 4   CityTier                     3083 non-null   int64
 5   WarehouseToHome              2929 non-null   float64
 6   PreferredPaymentMode         3083 non-null   object
 7   Gender                       3083 non-null   object
 8   HourSpendOnApp               2933 non-null   float64
 9   NumberOfDeviceRegistered     3083 non-null   int64
 10  PreferedOrderCat             3083 non-null   object
 11  SatisfactionScore            3083 non-null   int64
 12  MaritalStatus                3083 non-null   object
 13  NumberOfAddress              3083 non-null   int64
 14  Complain                     3083 non-null   int64
 15  OrderAmountHikeFromlastYear  2952 non-null   float64
 16  CouponUsed                   2957 non-null   float64
 17  OrderCount                   2955 non-null   float64
 18  DaySinceLastOrder            2917 non-null   float64
 19  CashbackAmount               3083 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 481.8+ KB

In [19]:
data_cus.isnull().sum() #各欄位的空值個數

CustomerID                       0
Churn                            0
Tenure                         153
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                154
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 150
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    131
CouponUsed                     126
OrderCount                     128
DaySinceLastOrder              166
CashbackAmount                   0
dtype: int64

In [20]:
# 2-3
data_cus = data_cus.drop_duplicates()
data_cus.shape[0]

3078

In [21]:
data_cus.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,54023,1,1.0,Computer,1,31.0,Debit Card,Male,4.0,5,Mobile Phone,1,Single,3,1,25.0,2.0,2.0,1.0,149
1,50266,0,16.0,Mobile Phone,1,18.0,Debit Card,Male,2.0,4,Grocery,4,Married,2,0,11.0,0.0,NaN,9.0,243
2,54985,0,16.0,Mobile Phone,1,36.0,Credit Card,Male,3.0,6,Laptop & Accessory,1,Single,6,0,20.0,2.0,2.0,1.0,168
3,52029,1,0.0,Phone,3,NaN,E wallet,Male,2.0,4,Mobile,4,Married,2,1,18.0,0.0,1.0,0.0,124
4,50084,0,13.0,Computer,1,15.0,Debit Card,Male,3.0,4,Laptop & Accessory,2,Divorced,10,0,14.0,1.0,1.0,2.0,149

In [22]:
# 2-4
data_cus = data_cus.fillna(data_cus.mean(numeric_only=True)) #用平均值填補空值

In [23]:
data_cus.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,54023,1,1.0,Computer,1,31.000000,Debit Card,Male,4.0,5,Mobile Phone,1,Single,3,1,25.0,2.0,2.000000,1.0,149
1,50266,0,16.0,Mobile Phone,1,18.000000,Debit Card,Male,2.0,4,Grocery,4,Married,2,0,11.0,0.0,2.995593,9.0,243
2,54985,0,16.0,Mobile Phone,1,36.000000,Credit Card,Male,3.0,6,Laptop & Accessory,1,Single,6,0,20.0,2.0,2.000000,1.0,168
3,52029,1,0.0,Phone,3,15.758208,E wallet,Male,2.0,4,Mobile,4,Married,2,1,18.0,0.0,1.000000,0.0,124
4,50084,0,13.0,Computer,1,15.000000,Debit Card,Male,3.0,4,Laptop & Accessory,2,Divorced,10,0,14.0,1.0,1.000000,2.0,149

In [24]:
#2-4 label encoding
le_cus = LabelEncoder()
data_cus['PreferredLoginDevice'] = le_cus.fit_transform(data_cus['PreferredLoginDevice'])
data_cus['PreferredPaymentMode'] = le_cus.fit_transform(data_cus['PreferredPaymentMode'])
data_cus['Gender'] = le_cus.fit_transform(data_cus['Gender'])
data_cus['PreferedOrderCat'] = le_cus.fit_transform(data_cus['PreferedOrderCat'])
data_cus['MaritalStatus'] = le_cus.fit_transform(data_cus['MaritalStatus'])
data_cus.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,54023,1,1.0,0,1,31.000000,4,1,4.0,5,4,1,2,3,1,25.0,2.0,2.000000,1.0,149
1,50266,0,16.0,1,1,18.000000,4,1,2.0,4,1,4,1,2,0,11.0,0.0,2.995593,9.0,243
2,54985,0,16.0,1,1,36.000000,3,1,3.0,6,2,1,2,6,0,20.0,2.0,2.000000,1.0,168
3,52029,1,0.0,2,3,15.758208,5,1,2.0,4,3,4,1,2,1,18.0,0.0,1.000000,0.0,124
4,50084,0,13.0,0,1,15.000000,4,1,3.0,4,2,2,0,10,0,14.0,1.0,1.000000,2.0,149

In [25]:
# 2-5
X = data_cus.drop(['CustomerID','Churn'],axis=1)
X.info()
# X為訓練資料集

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3078 entries, 0 to 3082
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tenure                       3078 non-null   float64
 1   PreferredLoginDevice         3078 non-null   int32
 2   CityTier                     3078 non-null   int64
 3   WarehouseToHome              3078 non-null   float64
 4   PreferredPaymentMode         3078 non-null   int32
 5   Gender                       3078 non-null   int32
 6   HourSpendOnApp               3078 non-null   float64
 7   NumberOfDeviceRegistered     3078 non-null   int64
 8   PreferedOrderCat             3078 non-null   int32
 9   SatisfactionScore            3078 non-null   int64
 10  MaritalStatus                3078 non-null   int32
 11  NumberOfAddress              3078 non-null   int64
 12  Complain                     3078 non-null   int64
 13  OrderAmountHikeFromlastYear  3078 non-null   float64
 14  CouponUsed                   3078 non-null   float64
 15  OrderCount                   3078 non-null   float64
 16  DaySinceLastOrder            3078 non-null   float64
 17  CashbackAmount               3078 non-null   int64
dtypes: float64(7), int32(5), int64(6)
memory usage: 396.8 KB

In [26]:
y = data_cus['Churn']
# y為測試資料集

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=12,stratify=y)

In [28]:
# 2-6 # 2-7
from sklearn import svm
clf = svm.SVC(kernel='linear') # 建立SVM model
clf.fit(X_train, y_train) # 訓練 clf

SVC(kernel='linear')

In [29]:
from sklearn.metrics import accuracy_score
y_predict_svm = clf.predict(X_test) #用X_test做預測
accuracy = accuracy_score(y_test,y_predict_svm) #評估準確值

In [30]:
print(accuracy) # kernel='linear'

0.8203463203463204

In [31]:
clf = svm.SVC(kernel='sigmoid') # 將kernel改為sigmoid
clf.fit(X_train, y_train)# 訓練clf

SVC(kernel='sigmoid')

In [32]:
y_predict_svm2 = clf.predict(X_test)#用X_test做預測
accuracy = accuracy_score(y_test,y_predict_svm2)#評估準確值
print(accuracy) # kernel='sigmoid'

0.7164502164502164

In [33]:
from sklearn.linear_model import LogisticRegression
lor = LogisticRegression(solver='liblinear') # 建立Logistic Regression model
lor.fit(X_train,y_train) # 訓練lor

LogisticRegression(solver='liblinear')

In [34]:
y_predict_lor = lor.predict(X_test)#用X_test做預測
accuracy = accuracy_score(y_test,y_predict_lor)#評估準確值
print(accuracy) # solver = 'liblinear'

0.8225108225108225

In [35]:
lor = LogisticRegression()# 建立Logistic Regression model
lor.fit(X_train,y_train)

C:\Users\Admin\anaconda3\envs\hw3_env\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [36]:
y_predict_lor2 = lor.predict(X_test)
accuracy = accuracy_score(y_test,y_predict_lor2)
print(accuracy) # solver = 'lbfgs'

0.8095238095238095

In [37]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion = 'gini')# 建立Decision tree
dt.fit(X_train,y_train)# 訓練 dt

DecisionTreeClassifier()

In [38]:
y_predict_dt = dt.predict(X_test)
accuracy = accuracy_score(y_test,y_predict_dt)
print(accuracy)# criterion = gini

0.9112554112554112

In [39]:
dt = DecisionTreeClassifier(criterion = 'entropy')
dt.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [40]:
y_predict_dt = dt.predict(X_test)
accuracy = accuracy_score(y_test,y_predict_dt)
print(accuracy) # criterion = entropy

0.9090909090909091

In [ ]:
# 2-8

In [41]:
# 2-9
confusion_matrix_svm = metrics.confusion_matrix(y_test, y_predict_svm)
print(confusion_matrix_svm)
# 實際True 預測為 Positive 有 570 筆
# 實際False 預測為 Positive 有 69 筆
# 實際True 預測為 Negative 有 97 筆
# 實際False 預測為Negative 有 188筆
# 總共預測正確的有 (570+188) = 758 筆 錯誤的有 (69+97) = 166筆

[[570  69]
 [ 97 188]]

In [42]:
confusion_matrix_lor = metrics.confusion_matrix(y_test,y_predict_lor)
print(confusion_matrix_lor)
# 實際True 預測為 Positive 有 569 筆
# 實際False 預測為 Positive 有 70 筆
# 實際True 預測為 Negative 有 94 筆
# 實際False 預測為Negative 有 191筆
# 總共預測正確的有 (569+191) = 760 筆 錯誤的有 (70+94) = 164筆

[[569  70]
 [ 94 191]]

In [43]:
confusion_matrix_dt = metrics.confusion_matrix(y_test,y_predict_dt)
print(confusion_matrix_dt)
# 實際True 預測為 Positive 有 584 筆
# 實際False 預測為 Positive 有 55 筆
# 實際True 預測為 Negative 有 29 筆
# 實際False 預測為Negative 有 256筆
# 總共預測正確的有 (584+256) = 840 筆 錯誤的有 (55+29) = 84筆

[[584  55]
 [ 29 256]]